*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-brand-brown);
    line-height: 150%;
    margin: 0%;
    background-color: var(--color-brand-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    display: inline-block;
}



address {
    font-style: normal;

}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}