@import './utils/fonts.scss';
@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/header';
@import './components/buttons';
@import './components/links';
@import './components/hero-section';
@import './components/advantages-section';
@import './components/tradition-section';
@import './components/chefs-section';
@import './components/formats-section';
@import './components/contacts-section';
@import './components/footer-section';
@import './components/form';
@import './components/modal';

.section {
    padding: 48px 0 48px 0;
}

.container {
    max-width: 1288px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}