:root {
    --color-brand-green: #819B57;
    --color-brand-brown: #31261A;
    --color-brand-light: #FAF4EA;

    --color-brand-secondary-green: #465929;
    --color-brand-secondary-brown: #A18268;
    --color-brand-secondary-light: #CFCFBC;
}