.button {
    color: var(--color-brand-light);
    border: 2px solid var(--color-brand-green);
    padding: 16px 32px 16px 32px;
    height: 59px;
    width: 238px;
    background-color: var(--color-brand-green);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--color-brand-light);
    color: var(--color-brand-green);
    border: 2px solid var(--color-brand-green);
    cursor: pointer;
}

/* carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    fill: var(--color-brand-brown);
    background-color: transparent;
    border: 1px solid var(--color-brand-brown);
    cursor: pointer;
}

.carousel-arrow.rotate {
    transform: rotate(180deg);
}

.carousel-button:hover {
    background-color: var(--color-brand-brown);
    fill: var(--color-brand-light);
}