.section-title-chefs {
    position: relative;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 80px auto;
}

.section-title-chefs .accent {
    color: var(--color-brand-secondary-green);
}

.section-title-chefs::before {
    position: absolute;
    left: 0;
    bottom: 24px;
    display: block;
    width: 352px;
    content: '';
    border: 2px solid #CFCFBC;
}

.section-title-chefs::after {
    position: absolute;
    right: 0;
    bottom: 24px;
    display: block;
    width: 352px;
    content: '';
    border: 2px solid #CFCFBC;
}


.images-chefs {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0px 0px var(--color-brand-light), -16px 16px 0px 2px var(--color-brand-secondary-brown);

}

.chefs-name {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1;

}

.chefs-list {
    display: flex;
    gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);

}

.chefs-card {
    display: flex;
    gap: 30px;
}

.chefs-text p {
    margin-bottom: 24px;
}

.chefs-text p:last-child {
    margin-bottom: 0;
}