.footer {
    position: relative;
    background-color: var(--color-brand-brown);
    background-image: url(/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0 32px 0;
}

.footer::before {
    content: '';
    position: absolute;
    background-image: url(/images/decor-bread-small.png);
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0;
}

.footer::after {
    content: '';
    position: absolute;
    background-image: url(/images/decor-bread-large.png);
    width: 378px;
    height: 187px;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
    flex-grow: 1;
}


.adress-icon {
    fill: var(--color-brand-light);
    transition: fill 0.3s;
}

.adress-icon:hover {
    fill: var(--color-brand-green);
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--color-brand-light);
    text-decoration: none;
    transition: color 0.3s;
}

.address-link:hover {
    color: var(--color-brand-green);
}

.address-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-brand-secondary-brown)
}