.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 400;
    border: 1px solid var(--color-brand-secondary-brown);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-green);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-brand-secondary-brown);
    font-size: 16px;
    line-height: 1.17;
    font-weight: 400;
}

.form-input:focus::placeholder {
    color: var(--color-brand-brown);
}

.form-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

.form-terms {
    max-width: 220px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-brand-brown);
    text-underline-offset: 2px;
}



.close-icon {
    fill: var(--color-brand-brown);
    background-color: transparent;
}