.hero-section {
    padding: 272px 0 272px 0;
    background-image: linear-gradient(103deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.60) 58.46%,
            rgba(18, 18, 17, 0.00) 90.36%),
        url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}

.hero-title {
    color: var(--color-brand-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0%;

    width: 1123;
    height: 192;
    top: 272px;
    left: 158px;

}


.hero-title .accent {
    color: var(--color-brand-green);
}