.backdrop {
    position: fixed;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s, visibility 0.4s;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-brand-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    border: none;
    cursor: pointer;
}

.modal-tittle {
    text-align: center;
    margin-bottom: 8px;
    font-size: 64px;
    line-height: 1.3;
    font-weight: 900;
    color: var(--color-brand-brown);
}

.modal-text {
    text-align: center;
    margin-bottom: 72px;
    font-size: 18px;
    color: var(--color-brand-secondary-green);

}